@import "vars";

.about {
  background-color: rgb(0, 86, 126);
  background-size: cover;
  background-repeat: no-repeat;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
  }
  &__img {
    max-width: 350px;
    margin: 100px;
    border-radius: 20px;
  }
  &__title {
    color: #fff;
    margin: 0;
    padding: 160px 0 40px 0;
    font-size: 35px;
    font-weight: 700;
  }
  &__title1 {
    margin: 0;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 0 0 30px 0;
  }
  &__text {
    color: #fff;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    margin: 0;
    padding: 0 60px 0 0;
  }
}
